extends layout

block content
  h1 #{title}
  form(method='POST', action='/match/add')
    #form-group
      label Teamเหย้า:
      input.form-control(name='teamA', type='text')
    #form-group
      label Teamเยือน:
      input.form-control(name='teamB', type='text')
    #form-group
    label Date
    input.form-control(name='date', type='Date')
    #form-group
    label Time
    input.form-control(name='time', type='text')
    br
    input.btn.btn-primary(type='submit',value='Submit')
